h1{
	font-family: sans-serif;
	color: red;
	font-size: large;
	text-align: center;
	font-weight: bold;
	background-color: yellow;
}

p
{
	font-family: sans-serif;
	color: darkred;
	font-size: medium;
	text-align: center;
	font-weight: bold;
}